<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            
            <img src="public/stylesheets/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Workout Buddy
          </a>
          <ul class="nav justify-content-end">
            
            <li class="nav-item">
              <a class="nav-link"  href="/events">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/buddy/">Profile</a>
            </li>
            
          </ul>
        </div>
        
      </nav>
      
</body>
</html>