
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            
            <img src="/stylesheets/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Workout Buddy
          </a>
          <ul class="nav justify-content-end">
            
            <li class="nav-item">
              <a class="nav-link"  href="/events">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/buddy/<%= user.username %>">Profile</a>
            </li>
            
          </ul>
        </div>
        
      </nav>
