<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <form method="post" action="/buddy">
        <label for="firstName">First Name</label>
        <input type="name" name="firstName" placeholder="First Name" value="">
        <label for="firstName">First Name</label>
        <input type="name" name="firstName" placeholder="First Name" value="">
        <label for="firstName">First Name</label>
        <input type="name" name="firstName" placeholder="First Name" value="">
        <select name="activity">
            <option value="">Select your favorite:</option>
            <option value="strengthTraining">Strength Training</option>
            <option value="hiit">HIIT</option>
        </select>
        
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>