<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h1>Welcome to Gym Buddy!</h1>
    <h3>Let's set-up your profile.</h3>
    <form method="post" action="/buddy">
        <label for="firstName"></label>
        <input type="name" name="firstName" placeholder="First Name" value="">
        <label for="lastName"></label>
        <input type="name" name="lastName" placeholder="Last Name" value="">
        <label for="email"></label>
        <input type="email" name="email" placeholder="Email" value="">
        <label for="phoneNumber"></label>
        <input type="phoneNumber" name="phoneNumber" placeholder="Phone Number" value="">
        <select name="activity">
            <option value="">Which fitness activity would you like to find a buddy for?</option>
            <option value="strengthTraining">Strength Training</option>
            <option value="hiit">HIIT</option>
            <option value="yoga">Yoga</option>
            <option value="dance">Dance</option>
            <option value="crossfit">Crossfit</option>
            <option value="kickboxing">Kickboxing</option>
            <option value="undecided">I'm open!</option>
        </select>
        
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>