<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Login Page</title>
</head>
<body class="text-center">
    <form class="form-signin" method="post" action="/buddy/login">
        <img class="my-4 mb-4" src="/stylesheets/images/logoblue.png">
        <h1 class="h3 mb-1 font-weight-normal">Please sign in</h1>
        <div class="">
        <label for="username"></label>
        <input type="username" name="username" placeholder="Username" class="form-control" value="">
    </div>
    <div class="mb-4">
        <label for="password"></label>
        <input type="password" name="password" placeholder="Password" class="form-control" value="">
    </div>
    <button class="btn btn-lg btn-secondary btn-block" type="submit" >Sign in</button>
    </form>
    
    
</body>
</html>