<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Onboard Page</title>
</head>
<body>
    <h2>
        Welcome to Workout Buddy!
    </h2>
    <a href="/buddy/login" >Log in</a>
    <a href="/buddy/new" >Sign-up</a>

    
</body>
</html>