<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboard Page</title>
</head>
<body>
    <h2>
        Welcome to Workout Buddy!
    </h2>
    <a href="/buddy/login" >Log in</a>
    <a href="/buddy/new" >Sign-up</a>
</body>
</html>