<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
<title>Create New Workout</title>
    
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <h1 class="mb-2">Create A New Workout</h1>


      <form action="/events" method="POST">
          <%- include('_event_fields') %>
      </form>
    </div>
    
  </body>
</html>